{% extends "base.html" %}

{% block content %}
  
  <h1>Signup Up!</h1>
  {% if error %}
    {{ error }}
  {% endif %}
  <form method="POST" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    <label for="username">Username:</label><br>
    <input type="text" name="username"><br>
    <label for="username">Password:</label><br>
    <input type="password" name="password1"><br>
    <label for="username">Confirm Password:</label><br>
    <input type="password" name="password2"><br><br>
    <input class="btn btn-primary" type="submit" value="Sign Up!">
  </form>

{% endblock %}