<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>
</head>
<body>
  <h1>Signup Up!</h1>
  {% if error %}
    {{ error }}
  {% endif %}
  <form method="POST" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="username">Password:</label>
    <input type="password" name="password1">
    <label for="username">Confirm Password:</label>
    <input type="password" name="password2">
    <input type="submit" value="Sign Up!">
  </form>
</body>
</html>