<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pig Latin</title>
</head>
<body>
  <h1>Pig Latin Translator</h1>
  <form action="{% url 'translate' %}">
    <input type="text" name="originalText">
    <br><br>
    <input type="submit" value="Translate!">
  </form>
  <hr>
  <form action="{% url 'about' %}">
    <input type="submit" value="About">
  </form>
</body>
</html>